<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">QUIZ APP</a>
        </div>
        <div class="nav-buttons">
            <button><a href="profile.html">PROFILE</a></button>
            <button><a href="#">LOG OUT</a></button>
        </div>
    </nav>

    <div class="main-content">
        <div class="sidebar">
            <ul>
                <li><a href="teacher.php">Create Question</a></li>
                <li><a href="#">Check Scores</a></li>
                <li><a href="#">Certificate Generate</a></li>
            </ul>
        </div>
        <div class="container">
            <h2>Welcome to Quiz App</h2>
            <br>
            <p style="text-align: justify;" >QuizBuzz is an innovative online quiz platform designed to enhance learning and assessment experiences for students, teachers, and administrators. It offers a dynamic environment where teachers can create and manage quizzes, students can participate in interactive tests, and admins can oversee the entire system efficiently. With features like real-time results, question randomization, detailed analytics, and bulk imports, QuizBuzz aims to make education engaging, personalized, and data-driven. Its user-friendly interface and role-based access ensure seamless navigation and secure usage for everyone involved.</p>
        </div>
    </div>
</body>
</html>
